@page "/"
@rendermode InteractiveServer

<div class="container mt-2">
    <h2 class="text-center fw-bold">Árboles Binarios</h2>
    
    <TreeComponent></TreeComponent>
    <TreeComponent></TreeComponent>
    <TreeComponent></TreeComponent>


</div>